header {
  align-items: center;
  background-color: #3f51b5;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacer);
  padding-block: var(--spacer);
  padding-inline: var(--spacer);
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacer);
  margin-inline-start: auto;
}
